@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@layer base {
    body {
        @apply text-slate-400;
        background-image: radial-gradient(
                circle at 50% 0%,
                rgba(226, 19, 110, 0.15) 0%,
                transparent 50%
            ),
            linear-gradient(
                to top,
                oklch(0.13 0.04 327.98),
                oklch(0.2 0.08 325.83)
            );
        background-color: #020617;
    }
}

@layer components {
    .card {
        background: rgba(15, 23, 42, 0.6);
        backdrop-filter: blur(12px);
        border: 1px solid rgba(148, 163, 184, 0.05);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .card:hover {
        border-color: rgba(226, 19, 110, 0.5);
        transform: translateY(-2px);
    }
}
